# Dependencias
node_modules/
.pnpm-store/

# Variables de entorno — NUNCA suben a Git
.env
.env.*
!.env.example

# Builds
dist/
build/
.next/
out/

# Prisma
apps/backend/prisma/migrations/*.sql.bak

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Expo / React Native
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/

# Cache
.turbo/
.cache/
